ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.mainbody {
  width: 600px;
}

.inputdiv {
  width: 180px;
}

.selDiv {
  width: 170px;
  height: 25px;
}

.inDiv {
  height: 25px;
}

.hide {
  display: none !important;
}

input[type="checkbox"]:not(.content) {
  display: none;
}

.onerow {
  display: flex;
}